@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
#waiting-body {
    background: #fc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.waiting-para {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}